.view {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use full viewport height */
}

.appBarWrapper {
  flex: 0 0 auto; /* Fixed height for the AppBar */
}

.gameAreaWrapper {
  flex: 1 1 auto; /* Take up all remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gameControlsWrapper {
  flex: 0 0 auto; /* Fixed height for the GameControls */
  margin-bottom: 20px; /* Space from the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .gameAreaWrapper {
    margin-top: 8px;
  }
}